@tailwind base;

blockquote {
  @apply border-l;
  @apply border-l-4;
  @apply border-l-blue-500;
  @apply pl-4;
  @apply italic;
  @apply my-8;

  p {
    padding: 0 !important;
  }
}



ol {
  @apply list-decimal;
  @apply ml-5;
}

ul {
  @apply list-disc;
  @apply ml-5;
}



@tailwind components;

@tailwind utilities;

@responsive {
  .pxi-0 {
    @apply px-0 #{!important};
  }

  .pyi-0 {
    @apply py-0 #{!important};
  }

  .pi-0 {
    @apply p-0 #{!important};
  }
}

.animated-link:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  transition: 300ms;
  @apply bg-gray-500;
}

.animated-link:hover:after {
  width: 100%;
}

.height-30px {
  height:30px;
}

.no-border {
  border-width: 0px !important;
}

.flex-post {
  @apply border-b;
  @apply border-b-gray-300;
  @apply flex-col;
  @apply w-full;

  .post-card-image {
    @apply h-56;
    @apply w-full;
    @apply object-cover;
    @apply rounded;
    @apply relative;
  }

  .post-card-title {
    @apply leading-none;
    @apply text-2xl;
    @apply font-medium;
  }

  .post-card-description {
    @apply font-serif;
  }
}

.author-list-item:nth-child(n+2) {
  @apply -ml-3
}

@media (min-width: 768px) {
  .with-large>.flex-post:nth-child(6n+1) {
    @apply flex-100;
    @apply flex-row;

    .post-card-image-link {
      @apply flex-auto;
      @apply relative;
      min-height: 380px;
      @apply mr-6;
    }

    .post-card-image {
      @apply absolute;
      @apply h-full;
      @apply w-full;
      @apply object-cover;
      @apply rounded-lg;
    }

    .post-card-content {
      @apply flex-post-large-content;
      @apply self-center
    }

      .post-card-title {
        @apply text-4xl;
      }

      .post-card-description {
        @apply text-xl;
      }
  }

}

body[data-theme="dark"] {
  
    background-color: #191b1f;
    @apply text-gray-300;

    .post-content-text {
      @apply text-gray-300;
    }

    .rich-text a {
      color: plum;
    }

    .post-card-description {
      @apply text-gray-500;
    }

    .pagination li {
      @apply bg-gray-700;
      @apply text-gray-200;
      @apply border-gray-600;

      &:hover {
        @apply bg-gray-600;
        @apply text-gray-900;
      }
    }

    .pagination li.border-l-black {
      @apply border-l-gray-300;
    }

    

    .flex-post {
      @apply border-b-gray-800;
    }

    .author-list-item img {
      border-color: #191b1f;
    }

    .author-social {
      a {
        &:hover {
          @apply text-white
        }
      }
    }
  
}


//@import "./themes/night-owl.scss";
@import "~gridsome-plugin-remark-prismjs-all/themes/night-owl.scss";

/* purgecss start ignore */
/* base admonitions variables hight contrast */
:root {
  --cb-admonition-background-color: #3578e5;
  --cb-admonition-border-width: 1px;
  --cb-admonition-border-color: inherit;
  --cb-admonition-border-radius: 0.4rem;
  --cb-admonition-color: #fff;
  --cb-admonition-padding-vertical: 1rem;
  --cb-admonition-padding-horizontal: 1rem;
  --cb-color-note: #ebedf0;
  --cb-color-important: #0e607c;
  --cb-color-tip: #006600;
  --cb-color-caution: #705200;
  --cb-color-warning: #b50309;
  --cb-color-text-dark: #1c1e21;
  --cb-admonition-icon-color: var(--cb-admonition-color);
}

/* apply variables to admonitions */

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
  fill: var(--cb-admonition-icon-color);
  stroke: var(--cb-admonition-icon-color);
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/* set variables based on admonition type */
.admonition {
  background-color: var(--cb-admonition-background-color);
  border: var(--cb-admonition-border-width) solid
    var(--cb-admonition-border-color);
  border-radius: var(--cb-admonition-border-radius);
  box-sizing: border-box;
  color: var(--cb-admonition-color);
  padding: var(--cb-admonition-padding-vertical)
    var(--cb-admonition-padding-horizontal);
  margin-bottom: 1em;
}

.admonition-note {
  --cb-admonition-background-color: var(--cb-color-note);
  --cb-admonition-color: var(--cb-color-text-dark);
  --cb-admonition-icon-color: var(--cb-admonition-color);
}

.admonition-important {
  --cb-admonition-background-color: var(--cb-color-important);
}

.admonition-tip {
  --cb-admonition-background-color: var(--cb-color-tip);
}

.admonition-caution {
  --cb-admonition-background-color: var(--cb-color-caution);
}

.admonition-warning {
  --cb-admonition-background-color: var(--cb-color-warning);
}

/* purgecss end ignore */

.rich-text h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
}

.rich-text h1 + * {
  margin-top: 2rem;
}

.rich-text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

.rich-text * + h2 {
  margin-top: 2rem;
}

.rich-text h2 + * {
  margin-top: 1rem;
}

.rich-text h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
}

.rich-text * + h3 {
  margin-top: 1.5rem;
}

.rich-text h2 + h3 {
  margin-top: 1rem;
}

.rich-text h3 + * {
  margin-top: 0.5rem;
}

.rich-text h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.rich-text * + h4 {
  margin-top: 1.5rem;
}

.rich-text h3 + h4 {
  margin-top: 0.5rem;
}

.rich-text h4 + * {
  margin-top: 0.5rem;
}

.rich-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}

.rich-text p + p {
  margin-top: 1rem;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text a {
  font-weight: 500;
  color: blue;
}

.rich-text a:hover {
  text-decoration: underline;
}

.rich-text img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rich-text ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}

.rich-text * + ol {
  margin-top: 1rem;
}

.rich-text ol + * {
  margin-top: 1rem;
}

.rich-text li ol {
  margin-top: 0.5rem;
}

.rich-text ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.rich-text * + ul {
  margin-top: 1rem;
}

.rich-text ul + * {
  margin-top: 1rem;
}

.rich-text li ul {
  margin-top: 0.5rem;
}

.rich-text li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}

.rich-text li + li {
  margin-top: 0.5rem;
}

.rich-text li p {
  margin-top: 1rem;
}

.rich-text li p + p {
  margin-top: 0.5rem;
}

.rich-text li:first-child p:first-child {
  margin-top: 0.5rem;
}

.rich-text blockquote {
  font-style: italic;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1rem;
}

.rich-text * + blockquote {
  margin-top: 1rem;
}

.rich-text blockquote + * {
  margin-top: 1rem;
}






