/* purgecss start ignore */

.gridsome-highlight code {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: normal;
  display: initial;
}

.gridsome-highlight code[class*='language-'],
.gridsome-highlight pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.gridsome-highlight pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.gridsome-highlight :not(pre) > code[class*='language-'],
.gridsome-highlight pre[class*='language-'] {
  background: #2d2d2d;
}

.gridsome-highlight :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.gridsome-highlight .token.comment,
.gridsome-highlight .token.block-comment,
.gridsome-highlight .token.prolog,
.gridsome-highlight .token.doctype,
.gridsome-highlight .token.cdata {
  color: #999;
}

.gridsome-highlight .token.punctuation {
  color: #ccc;
}

.gridsome-highlight .token.tag,
.gridsome-highlight .token.attr-name,
.gridsome-highlight .token.namespace,
.gridsome-highlight .token.deleted {
  color: #e2777a;
}

.gridsome-highlight .token.function-name {
  color: #6196cc;
}

.gridsome-highlight .token.boolean,
.gridsome-highlight .token.number,
.gridsome-highlight .token.function {
  color: #f08d49;
}

.gridsome-highlight .token.property,
.gridsome-highlight .token.class-name,
.gridsome-highlight .token.constant,
.gridsome-highlight .token.symbol {
  color: #f8c555;
}

.gridsome-highlight .token.selector,
.gridsome-highlight .token.important,
.gridsome-highlight .token.atrule,
.gridsome-highlight .token.keyword,
.gridsome-highlight .token.builtin {
  color: #cc99cd;
}

.gridsome-highlight .token.string,
.gridsome-highlight .token.char,
.gridsome-highlight .token.attr-value,
.gridsome-highlight .token.regex,
.gridsome-highlight .token.variable {
  color: #7ec699;
}

.gridsome-highlight .token.operator,
.gridsome-highlight .token.entity,
.gridsome-highlight .token.url {
  color: #67cdcc;
}

.gridsome-highlight .token.important,
.gridsome-highlight .token.bold {
  font-weight: bold;
}

.gridsome-highlight .token.italic {
  font-style: italic;
}

.gridsome-highlight .token.entity {
  cursor: help;
}

.gridsome-highlight .token.inserted {
  color: green;
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.gridsome-code-title {
  position: relative;
  z-index: 100;
  margin-bottom: -0.5em;
  background: #5b575b;
  color: #cbc4cc;
  font-style: italic;
  font-weight: 100;
  text-align: right;
  font-family: PT Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  line-height: 1.5;
  border-radius: 0.3em;
}

.gridsome-code-title span {
  padding: 0.5em;
}

.gridsome-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gridsome-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: initial;
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

.gridsome-highlight pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

.gridsome-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

.gridsome-highlight {
  position: relative;
  overflow: auto;
}

.gridsome-highlight[data-language]::before {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 2px 10px;
  font-size: 0.7rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  color: black;
  background: white;
  -webkit-box-sizing: initial;
  box-sizing: initial;
}

/* purgecss end ignore */
/*# sourceMappingURL=index.css.map */
